.App {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.video-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  margin: auto; /* Centrar el contenedor si es necesario */
}

.centered-video {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}


.spacer {
  height: 100vh; /* Altura de una pantalla completa */
}
.playback-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.playback-button:hover {
  background-color: #45a049;
}

